
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
/* latin */
.mobileShow {
  display: none;
} 


body {
  background-color: #FFF;
  margin: 0;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
}

.main-body {

  border-color: #000000;
  display: block;

 
  overflow: auto;

}

.main-body-header-inline h2 {
  color: #000080;
  font-size: 4.2vw;
  font-family: 'Righteous', sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  margin-bottom: 0;
  margin-top: .5em;
  display: inline;

}

.main-body-header-inline {
  display: inline-table;
  width: 100%;
}

#text {
  align-content: center;
  
}

#main {
  transition: margin-left .5s;
}

.scd-counter-col {
  display: inline-block;
  clear: both;
}

.scd-all-wrapper {
  color: white;
  text-align: center;
  display: block;
}

.scd-all-wrapper {
  width: 100%;
  font-size: inherit;
}

a {
  text-decoration: none;
  padding: 0px 1.25vw;
}

h3 {
  color: #272c2c;
  font-size: 1.6em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: inherit;
}

.smalltext {
  padding-top: 5px;
  font-size: 1.1vw;
  font-weight: 100;
  color: #fff;
}

hr.style {
  border-top: 2px solid #000080;
  color: #000080;
  width: 80%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color:rgb(33, 150, 243)
}

input:checked + .slider:before {

  transform: translateX(26px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.popUp{
  visibility: hidden;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  background-color:green;

}